* {font-family: Poppins;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    margin-top: 47px;
    margin-left: 42px;
}

.link-header{
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.875px;
    text-align: center;
    color: #17233d;
    margin-right: 32px;
    cursor: pointer;

}
.button-header{
    background: #6FBF44;
    width: 124px;
    height: 51px;
    border-radius: 6px;
    border: 1px solid #4CB538;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 1px;
    color: #FFFFFF;
    cursor: pointer;

}
section{
    display: inline-block;
    margin-left: 121px;
}
.logo-img{
  margin: 163px 0px 0px 123px;
   display: inline-block;
}
h1{
    font-weight: 700;
    font-size: 62px;
    line-height: 82px;
    color: #161A49;
   letter-spacing: 0.596154px;
    
}
p{
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    color: #4B505A;
   letter-spacing: 0.5px;
   margin-bottom: 55px;
   margin-top: 47px;
   
   
}

main{
    display: inline-block;
    margin-left: 85px;
    width: 493px;

}

.link-main{
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 1px;
    color: #6FBF44;
    cursor: pointer;
}
